<?xml version="1.0" encoding="UTF-8"?>

<hibernate-configuration>
    <session-factory>

        <!-- DB connection -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate_db</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">password</property>

        <!-- Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Show SQL -->
        <property name="hibernate.show_sql">true</property>

        <!-- Auto create/update -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Entity mappings -->
         <mapping class="com.lpu.entity.Booking"/>
      

    </session-factory>
</hibernate-configuration>
